:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --primary-white: #ffffff;
  --accent-color: #2196f3;
  --footer-bg-color: #2F303A;
  --footer-contacts: rgba(255, 255, 255, 0.6);
  --secondary-bg-color:#F5F4FA;

}

body {
  background:var(--primary-white);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
}

.list {
   margin: 0;
   padding: 0;

    list-style: none;
}

/* Хедер страницы */

/* .page-header {
    background-color: cadetblue;
} */


/* Лого */

.logo {
  color: var(--title-text-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;

}

.logo .accent {
  color: var(--accent-color);
}

/* Навигация сайта */

.container {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;

}

.site-nav .link,
.site-contacts .link {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

    cursor: pointer;
}

.site-nav .link:hover,
.site-nav .link:focus,
.site-contacts .link:hover,
.site-contacts .link:focus {
    color: var(--accent-color);
}
.site-nav .link.current{
    color: var(--accent-color);
}

.site-contacts .link {
    color: var(--primary-text-color);
}

    /* Секция Герой */

.section-hero {
    background-color: var(--footer-bg-color);
    
    text-align: center;
}

.hero-title {
    margin-top: 0;
    margin-bottom: 30px;

    color: var(--primary-white);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.section-hero .btn {
    border: none;  
	border-radius: 4px;

    background-color: var(--accent-color);
    font-family: Roboto, sans-serif;
    color: var(--primary-white);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;

    cursor: pointer;
}

/* Секция Особенности  */

.features-section {
    padding-top: 94px;

}

.section-title {
    margin-top: 0;
    margin-bottom: 50px;

    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}

.features .title {
    margin-top: 0;
    margin-bottom: 10px;

    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.features p {
    margin-top: 0;
    margin-bottom: 0;
}

/* Секция Примеры работ */

.work-examples {
    padding-top: 94px;

}

/* Секция Команда */

.section-team {
    padding-top: 94px;
    padding-bottom: 94px;

    background-color: var(--secondary-bg-color);

}

.team .members {
    margin-top: 30px;
    margin-bottom: 0;

    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}

.team .profession {
    margin-top: 10px;
    margin-bottom: 0;

    font-size: 16px;
    line-height: 1.19;
}

/* Футер */

.footer {
    background-color: var(--footer-bg-color);
}

.footer .logo {
    color: var(--primary-white);
}

.contacts {
    margin-top: 10px;
}

.contacts .place {
    color: var(--primary-white);
    font-style: normal;
}

.contacts .link {
    color: var(--footer-contacts);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
}

    /* Страница Портфолио */

.hiden-title {
    display: none;
}

.projects-section {
    padding-top: 94px;
    padding-bottom: 94px;

}

.filters {
    margin-bottom: 50px;
}

/* Список фильтров */

.filters .btn {
    border: none;  
	border-radius: 4px;

    background-color: var(--secondary-bg-color);
    font-family: Roboto, sans-serif;
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;

    cursor: pointer;
}

.filters .btn:hover,
.filters .btn:focus {
    color: var(--primary-white);
    background-color: var(--accent-color);
}

/* Проекты */

.projects .name {
    margin-top: 20px;
    margin-bottom: 0;

    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.projects .description {
    margin-top: 4px;
    margin-bottom: 0;

    font-size: 16px;
    line-height: 1.87;
}